[submodule "public/contents/journal"]
	path = public/contents/journal
	url = https://github.com/tlvince/journal.git
[submodule "public/contents/comments"]
	path = public/contents/comments
	url = https://github.com/tlvince/tlvince-comments.git
[submodule "public/contents/assets"]
	path = public/contents/assets
	url = https://github.com/tlvince/tlvince-assets.git
