extends layout

block content
  - var entries = _.chain(contents.journal._.pages).sortBy(function(item) {
  -   return -item.date
  - }).first(locals.index_count).value()
  - console.log(entries);

  for entry in entries
    article
      header
        h1: a(href=entry.url)= entry.title
      section.content!= entry.intro
      if entry.hasMore
        p.read-more: a(href=entry.url) … read more
