nav
  small
    span
      a(href='/', title='Home')
        &copy; 2005–#{new Date().getFullYear()} #{locals.author}
    ul
      li: a(href='/about') about
      li: a(href='/archive') archive
      li: a(href='http://portfolio.tlvince.com') portfolio
      li: a(href='/contact') contact
