section.copy
  p
    &copy; #{ new Date().getFullYear() }&nbsp;
    a(href='/', title='Home')= locals.author
  nav
    ul
      li: a(href='/about') about
      li: a(href='/contact') contact
      li: a(href='//labs.tlvince.com') labs
      li: a(href='//portfolio.tlvince.com') portfolio
